<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring-config.xml</param-value>
    </context-param>

    <servlet>
        <servlet-name>bitcoinServlet</servlet-name>
        <servlet-class>bitcoinGWT.server.BitcoinGWTServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bitcoinServlet</servlet-name>
        <url-pattern>/BitcoinGWT/bit</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>gwt-log-remote-logger-servlet</servlet-name>
        <servlet-class>com.allen_sauer.gwt.log.server.RemoteLoggerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>gwt-log-remote-logger-servlet</servlet-name>
        <url-pattern>/bitcoinGWT/gwt-log</url-pattern>
    </servlet-mapping>

    <!--LISTENERS-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>
            bitcoinGWT.server.listeners.AppConfigListener
        </listener-class>
    </listener>

    <!--<listener>
        <listener-class>bitcoinGWT.server.AppContextInitializerListener</listener-class>
    </listener>-->


</web-app>
